/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root{
    -fx-font-family: "Arial";
    -fx-background: #f2f2f2;
}


.menu-bar{
	-fx-background-color: white;
	-fx-horizontal-grid-lines-visible: 1;	
	}

.menu{
}

.menu-item{
	
}

.label{
	-fx-text-fill: #636363;
}

.text-field{
	
}
.button{
	-fx-background-color: #00a99d;
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
	-fx-padding: 15 20;
	-fx-background-radius: 5;
}

.button:hover {
    -fx-cursor: hand;
}

#menu-nav-bar{
	-fx-font-weight : bold;
	-fx-background-color: white;
}
#menu-nav-bar .button{
	-fx-background-color: white;
	-fx-padding: 0 20px 0 20px;
	-fx-text-fill: #00a99d;
}

#logged-user{
	-fx-alignment: center_right;
}

#schedule-calendar{
	-fx-border-color: gray;
}

/* -------------------------
CreateShiftSetStartDayView
---------------------------*/

.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: derive(-fx-box-border,30%),
        linear-gradient(to bottom, derive(-fx-base,-3%),
                                   derive(-fx-base,5%) 50%,
                                   derive(-fx-base,-3%));
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-text-fill : red;
}

#set-start-date .combo-box-base {
    -fx-border : white;
    -fx-background-color : white;
}
#set-start-date .combo-box-base:focused {
    -fx-background-color: transparent;
    -fx-border : white;
}
.date-picker .text-field{
    -fx-padding : 15;
    -fx-background-color : white;
}

.date-picker > .arrow-button {
    -fx-background-color : white;
}
.date-picker > .arrow-button:hover{
    -fx-cursor: hand;
}

.date-picker-popup > * > .today {
    -fx-background-color: #00a99d;;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background-color: #00a99d;;
}

.date-picker .button{
        -fx-background-color: transparent;
    	-fx-font-size: 14px;
    	-fx-text-fill: #ffffff;
    	-fx-padding: 10;
    	-fx-background-radius: 5;
}