/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root{
    -fx-font-family: "Arial";
    -fx-background: #f2f2f2;
}


.menu-bar{
	-fx-background-color: white;
	-fx-horizontal-grid-lines-visible: 1;	
	}

.menu{
}

.menu-item{
	
}

.label{
	-fx-text-fill: #636363;
}

.text-field{
	
}

.button{
	-fx-background-color: #00a99d;
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
	-fx-padding: 15 20;
	-fx-background-radius: 5;
}

#menu-nav-bar{
	
	-fx-background-color: white;
}
#menu-nav-bar .button{
	-fx-background-color: white;
	-fx-padding: 0 20px 0 20px;
	-fx-text-fill: #00a99d;
}

#logged-user{
	-fx-alignment: center_right;
}

#set-start-date .label{
}
